* {
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    margin: 20px 0;
}

h3 {
    font-size: 0.95rem;
    font-weight: 500;
}

.box {
    background-color: yellow;
    height: 70px;
    width: 70px;
}